@{
    ViewData["Title"] = "За нас";
}

<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>@ViewData["Title"]</h1>
    <hr class="w-100" />
</div>

<div class="row">
    <div class="col-md-6">
        <p style="text-align:justify">
            Триизмерен свят е иновативен онлайн магазин, който предлага различни по рода си и 
            уникални 3D принтирани стоки. Стремим се да предложим нещо за всеки вкус и повод, 
            като същевременно осигурим високо качество и иновативен дизайн. Всички наши продукти 
            се създават с най-новите технологии в областта на 3D принтирането и използват материали 
            от висок клас, гарантирайки тяхната здравина и естетика. Вдъхновете се от нашия уникален 
            асортимент и направете своя избор, който да отразява вашата индивидуалност и стил.
        </p>
    </div>
    <div class="col-md-6">
        <div class="d-flex justify-content-center align-content-center">
            <img src="~/staticImages/aboutUs.png" class="w-100" alt="about us"/>
        </div>
    </div>
</div>