@using ThreeDimensionalWorldWeb.Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThreeDimensionalWorldWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThreeDimensionalWorldWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css" />
    <link rel="icon" type="image/x-icon" href="~/logo.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Public" asp-controller="Home" asp-action="Index">
                    <img style="max-height: 2em;" src="~/logo.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Categories" asp-action="Index">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Products" asp-action="Index">Продукти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Public" asp-controller="Home" asp-action="AboutUs">За нас</a>
                        </li>

                        @if (User.IsInRole(AppConfiguration.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Съдържание</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Категории</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Продукти</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Materials" asp-action="Index">Материали</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="MaterialColors" asp-action="Index">Цветове</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Orders" asp-action="Index">Поръчки</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ApplicationUsers" asp-action="Index">Потребители</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(AppConfiguration.CustomerRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Orders" asp-action="Index">Поръчки</a>
                            </li>

                            <li class="nav-item" style="margin-left: auto;">
                                <a class="nav-link" asp-area="Customer" asp-controller="ShoppingCarts" asp-action="Index">
                                    <i class="bi bi-cart2"></i>
                                </a>
                            </li>
                        }
                    </ul>
                        
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Триизмерен свят - <a asp-area="Public" asp-controller="Home" asp-action="Privacy">Поверителност</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/STLLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
